
#title {
	background-color: #ff4c68;
	color: #fff;
	
}

body{
	font-family: "Montserrat";
}

h1 {
	font-family: "Montserrat";
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 900;

}
h2{
	font-family: "Montserrat";
	font-weight: 700;
	line-height: 1.5;
}
p{
	color: #8f8f8f;
}

h3{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 1.5rem;
}

.container-fluid{
	padding: 2% 10% 7%;
}
.btnma{
	margin: 5% 3% 5% 0;
}

.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-size:2.5rem;
	font-weight:bold;
}
.navbar{
	padding:0 0 4.5rem 0;
}
.nav-item{
	padding: 0 18px;
}
.title-image{
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
	
}

#features{
	background-color: #fff;
	position: relative;
	z-index: 1;
}
.features-main{
	padding: 7% 15%;
}

.feature-box{
	text-align:center;
	padding: 5%;

}

.icon{
	color: #ef8172;
	margin-bottom: 1rem;
}

.icon:hover{
	color: #ff4c68;
}

#testimonials{
	background-color: #ef8172;
	
	text-align: center;
	color: #fff;
	
}
.testimonials-image{
	width: 10%;
	border-radius: 100%;
	margin:2%;
}
#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.press-image{
	width: 15%;
	margin: 2% 2% 5%;	

}

.carousel-item{
	padding: 7% 15%;
}

#pricing{
	padding: 5% 10% ;
	text-align: center;
}

.pricing-card {
	margin-top: 3%;
}

#cta {
	background-color: #ff4c68;
	color: #fff;
	text-align: center;
	padding: 10%;
}
#footer{
	text-align: center;
	padding: 7% 15%;
}

@media (max-width: 1028px){
	#title{
		text-align: center;
	}
	.title-image{
		position: static;
		transform: rotate(0);
	}
}

.ic{
	margin: 1%;
}